n8n/billing.json
{
  "name": "Billing Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "billing",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-billing",
      "name": "Webhook - Billing",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "billing-webhook"
    },
    {
      "parameters": {
        "jsCode": "const sessionData = $input.item.json.body;\nconst basePrice = 500; // Base consultation price in SAR\nconst duration = sessionData.duration || 60; // Duration in minutes\nconst pricePerMinute = basePrice / 60;\nconst totalPrice = pricePerMinute * duration;\n\nreturn {\n  sessionId: sessionData.sessionId,\n  patientId: sessionData.patientId,\n  totalPrice: Math.round(totalPrice * 100) / 100,\n  currency: 'SAR',\n  duration: duration,\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "calculate-billing",
      "name": "Calculate Billing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "={{ $env.CRM_API_ENDPOINT }}/billing",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.CRM_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sessionId",
              "value": "={{ $json.sessionId }}"
            },
            {
              "name": "patientId",
              "value": "={{ $json.patientId }}"
            },
            {
              "name": "amount",
              "value": "={{ $json.totalPrice }}"
            },
            {
              "name": "currency",
              "value": "={{ $json.currency }}"
            }
          ]
        },
        "options": {}
      },
      "id": "sync-crm",
      "name": "Sync with CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"billing\": $('Calculate Billing').item.json } }}"
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook - Billing": {
      "main": [
        [
          {
            "node": "Calculate Billing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Billing": {
      "main": [
        [
          {
            "node": "Sync with CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync with CRM": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
