n8n/crm-sync.json
{
  "name": "CRM Sync Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crm-sync",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-crm",
      "name": "Webhook - CRM Sync",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "crm-sync-webhook"
    },
    {
      "parameters": {
        "url": "={{ $env.CRM_API_ENDPOINT }}/sync",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.CRM_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "={{ $json.body.action }}"
            },
            {
              "name": "patientId",
              "value": "={{ $json.body.patientId }}"
            },
            {
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}"
            },
            {
              "name": "data",
              "value": "={{ JSON.stringify($json.body.data) }}"
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "sync-external-crm",
      "name": "Sync with External CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "resource": "patient",
        "id": "={{ $json.body.patientId }}"
      },
      "id": "get-patient-data",
      "name": "Get Patient Data",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.CRM_API_ENDPOINT }}/insurance/validate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.CRM_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "patientId",
              "value": "={{ $json.id }}"
            },
            {
              "name": "nationalId",
              "value": "={{ $json.nationalId || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "validate-insurance",
      "name": "Validate Insurance Coverage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"synced\": true, \"insuranceValid\": $('Validate Insurance Coverage').item.json.valid } }}"
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook - CRM Sync": {
      "main": [
        [
          {
            "node": "Sync with External CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync with External CRM": {
      "main": [
        [
          {
            "node": "Get Patient Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Patient Data": {
      "main": [
        [
          {
            "node": "Validate Insurance Coverage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Insurance Coverage": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
