n8n/signature.json
{
  "name": "Signature Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "signature",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-signature",
      "name": "Webhook - Signature",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "signature-webhook"
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "file",
        "bucketName": "documents",
        "fileName": "={{ `signatures/${Date.now()}-${$json.body.patientId || 'anonymous'}.png` }}",
        "binaryData": true,
        "fileContent": "={{ $json.body.signature }}"
      },
      "id": "store-signature",
      "name": "Store Signature in Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "resource": "session",
        "id": "={{ $json.body.documentId }}",
        "fields": {
          "signed": true,
          "signature_url": "={{ $json.publicUrl }}",
          "signed_at": "={{ new Date().toISOString() }}"
        }
      },
      "id": "update-document",
      "name": "Update Document Status",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "supabaseApi": {
          "id": "supabase-credentials",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v18.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.WHATSAPP_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $json.body.patientPhone }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text[body]",
              "value": "تم استلام توقيعك الإلكتروني بنجاح. شكراً لك!"
            }
          ]
        },
        "options": {}
      },
      "id": "notify-patient",
      "name": "Notify Patient via WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"signatureUrl\": $('Store Signature in Supabase').item.json.publicUrl } }}"
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 300]
    }
  ],
  "connections": {
    "Webhook - Signature": {
      "main": [
        [
          {
            "node": "Store Signature in Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Signature in Supabase": {
      "main": [
        [
          {
            "node": "Update Document Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Document Status": {
      "main": [
        [
          {
            "node": "Notify Patient via WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Patient via WhatsApp": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}
