n8n/whatsapp-bot-fixed.json
{
  "name": "WhatsApp Bot - مركز الهمم (Fixed)",
  "nodes": [
    {
      "parameters": {
        "updates": ["messages"],
        "options": {}
      },
      "id": "whatsapp-trigger",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [-144, 208],
      "webhookId": "857366e8-7b6f-45a7-bbd1-f876002620d7",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "JTmbvM53tlueGFzr",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Professional WhatsApp Message Extraction with Validation\nconst body = $json.body || $json || {};\n\n// Extract from WhatsApp webhook format\nconst entry = body?.entry?.[0];\nconst changes = entry?.changes?.[0];\nconst value = changes?.value;\nconst message = value?.messages?.[0];\n\n// Extract message text (handle multiple formats)\nlet text = '';\nif (message?.text?.body) {\n  text = message.text.body.trim();\n} else if (message?.body?.text) {\n  text = message.body.text.trim();\n} else if (typeof body.text === 'string') {\n  text = body.text.trim();\n}\n\n// Extract phone number (handle multiple formats)\nlet from = '';\nif (message?.from) {\n  from = message.from.replace(/[^0-9]/g, ''); // Clean phone number\n} else if (value?.contacts?.[0]?.wa_id) {\n  from = value.contacts[0].wa_id.replace(/[^0-9]/g, '');\n} else if (body.from) {\n  from = String(body.from).replace(/[^0-9]/g, '');\n} else if ($json.contacts?.[0]?.wa_id) {\n  from = $json.contacts[0].wa_id.replace(/[^0-9]/g, '');\n}\n\n// Create session ID from phone number\nconst sessionId = from || 'default-session';\n\n// Validate message\nif (!text || text.length === 0) {\n  return [{ \n    text: '', \n    from, \n    sessionId, \n    chatInput: '',\n    isValid: false,\n    error: 'Empty message'\n  }];\n}\n\n// Return validated data\nreturn [{ \n  text, \n  from, \n  sessionId, \n  chatInput: text,\n  isValid: true,\n  messageType: message?.type || 'text',\n  timestamp: message?.timestamp || Date.now()\n}];"
      },
      "id": "extract-message",
      "name": "Extract Message",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [432, 208]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Extract Message').item.json.text }}",
        "options": {
          "systemMessage": "أنت مساعد طبي ذكي ومحترف لمركز الهمم الطبي (Hemam Medical Center) في جدة، المملكة العربية السعودية.\n\n**مهمتك:**\n- تقديم معلومات دقيقة عن المركز وخدماته\n- مساعدة المستخدمين في الحجز والاستفسارات\n- استخدام قاعدة المعرفة للحصول على معلومات محدثة\n- تذكر المحادثات السابقة لتقديم تجربة شخصية\n- الرد بالعربية والإنجليزية حسب حاجة المستخدم\n\n**أسلوبك:**\n- احترافي ومتعاطف\n- واضح ومفيد\n- دقيق في المعلومات\n- محترم ومهذب\n\n**قواعد مهمة:**\n- لا تقم بتشخيصات طبية - ركز على معلومات المركز فقط\n- استخدم قاعدة المعرفة دائماً عند الإجابة عن أسئلة عن المركز\n- تذكر ما تم مناقشته سابقاً مع المستخدم\n- إذا لم تعرف الإجابة، اعترف بذلك ووجه المستخدم للاتصال بالمركز\n- احترم خصوصية المستخدمين\n\n**You are a professional medical assistant for Hemam Medical Center in Jeddah, Saudi Arabia.**\n\n**Your Role:**\n- Provide accurate information about the center and services\n- Help users with bookings and inquiries\n- Use knowledge base for up-to-date information\n- Remember previous conversations for personalized experience\n- Respond in Arabic and English as needed\n\n**Your Style:**\n- Professional and empathetic\n- Clear and helpful\n- Accurate in information\n- Respectful and courteous\n\n**Important Rules:**\n- No medical diagnoses - focus on center information only\n- Always use knowledge base when answering questions about the center\n- Remember what was discussed previously with the user\n- If you don't know the answer, admit it and direct user to contact the center\n- Respect user privacy",
          "maxIterations": 10,
          "returnIntermediateSteps": false,
          "enableStreaming": true,
          "maxTokensFromMemory": 2000
        }
      },
      "id": "ai-agent",
      "name": "AI Agent with Knowledge Base",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [720, 208]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "id": "gemini-model",
      "name": "Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [656, 432],
      "credentials": {
        "googlePalmApi": {
          "id": "loZTSuo6IMkCcOj3",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Extract Message').item.json.from }}",
        "tableName": "conversation_history"
      },
      "id": "chat-memory",
      "name": "Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [784, 432],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "credentials": {
        "postgres": {
          "id": "irebIWWbwk0y6lL1",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieves information about Al-Himam Medical Center services, specialists, booking procedures, and general information. Use this when users ask about the center, services, appointments, or specialists.",
        "tableName": {
          "mode": "id",
          "value": "knowledge_base"
        },
        "topK": 3,
        "options": {}
      },
      "id": "knowledge-base",
      "name": "Knowledge Base",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [912, 432],
      "credentials": {
        "supabaseApi": {
          "id": "K2MJudrVWUXikCIb",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Professional Response Extraction with Validation\nconst agentOutput = $json || {};\n\n// Extract response from multiple possible formats\nlet text = '';\nif (agentOutput?.output) {\n  text = String(agentOutput.output).trim();\n} else if (agentOutput?.text) {\n  text = String(agentOutput.text).trim();\n} else if (agentOutput?.response) {\n  text = String(agentOutput.response).trim();\n} else if (agentOutput?.message) {\n  text = String(agentOutput.message).trim();\n} else if (agentOutput?.content) {\n  text = String(agentOutput.content).trim();\n}\n\n// Fallback message if no response\nif (!text || text.length === 0) {\n  text = 'عذراً، لم أتمكن من معالجة طلبك. يرجى المحاولة مرة أخرى أو الاتصال بالمركز مباشرة.\\n\\nSorry, I couldn't process your request. Please try again or contact the center directly.';\n}\n\n// WhatsApp message length limit (4096 characters)\n// Split into multiple messages if needed\nconst MAX_LENGTH = 4000;\nif (text.length > MAX_LENGTH) {\n  text = text.substring(0, MAX_LENGTH - 50) + '...\\n\\n(الرسالة طويلة جداً - يرجى الاتصال بالمركز لمزيد من التفاصيل)\\n(Message too long - please contact center for details)';\n}\n\n// Get original message data from Extract Message node\nconst extractNode = $('Extract Message');\nconst from = extractNode?.item?.json?.from || extractNode?.first()?.json?.from || '';\nconst sessionId = extractNode?.item?.json?.sessionId || extractNode?.first()?.json?.sessionId || 'default-session';\nconst userMessage = extractNode?.item?.json?.text || extractNode?.first()?.json?.text || '';\n\n// Return validated data with ALL required fields for Save Conversation\nreturn [{ \n  text,                    // AI response\n  from,                    // Phone number\n  sessionId,               // Session ID\n  userMessage,             // User's original message\n  user_phone: from,       // ← REQUIRED for Save Conversation\n  message: userMessage,    // ← REQUIRED for Chat Memory compatibility\n  ai_response: text,       // ← REQUIRED for Save Conversation\n  responseLength: text.length,\n  isValid: true\n}];"
      },
      "id": "extract-response",
      "name": "Extract Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1280, 208]
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "conversation_history",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $json.sessionId }}",
            "user_phone": "={{ $json.user_phone }}",
            "user_message": "={{ $json.userMessage }}",
            "message": "={{ $json.message }}",
            "ai_response": "={{ $json.ai_response }}",
            "metadata": "={{ { \"workflow\": \"whatsapp-ai\", \"timestamp\": $now } }}"
          }
        },
        "options": {}
      },
      "id": "save-conversation",
      "name": "Save Conversation",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1504, 208],
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "supabaseApi": {
          "id": "K2MJudrVWUXikCIb",
          "name": "Supabase account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v20.0/{{$env.WHATSAPP_PHONE_NUMBER_ID}}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{$json.from}}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={\"body\": \"={{$json.text}}\"}"
            }
          ]
        },
        "options": {}
      },
      "id": "send-reply",
      "name": "Send AI Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [1728, 208],
      "credentials": {},
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true } }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1952, 208]
    }
  ],
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "AI Agent with Knowledge Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent with Knowledge Base",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent with Knowledge Base",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "AI Agent with Knowledge Base",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent with Knowledge Base": {
      "main": [
        [
          {
            "node": "Extract Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Response": {
      "main": [
        [
          {
            "node": "Save Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Conversation": {
      "main": [
        [
          {
            "node": "Send AI Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send AI Reply": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bc472c169884cc6beb9258494e75c968c86ca99eeea2da60b9d9c18b569bbbb9"
  },
  "settings": {
    "executionOrder": "v1"
  }
}

