n8n/whatsapp-bot.json
{
  "name": "WhatsApp Bot - مركز الهمم",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-receive",
      "name": "Receive from Next.js",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "whatsapp-nextjs"
    },
    {
      "parameters": {
        "jsCode": "// استقبال البيانات من Next.js API\nconst data = $input.item.json;\n\n// استخراج المعلومات\nconst from = data.from;\nconst message = data.text || '';\nconst timestamp = data.timestamp;\n\n// إرجاع البيانات المعالجة\nreturn {\n  from: from,\n  message: message,\n  timestamp: timestamp,\n  event: data.event || 'whatsapp_message'\n};"
      },
      "id": "process-data",
      "name": "Process Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.message }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "check-message",
      "name": "Has Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "model": "gemini-pro",
        "options": {
          "temperature": 0.7,
          "maxTokens": 500
        },
        "prompt": "=أنت مساعد ذكي لمركز الهمم الطبي في جدة، المملكة العربية السعودية.\n\nالمركز متخصص في:\n- جلسات تخاطب\n- تعديل السلوك\n- العلاج الوظيفي\n- التكامل الحسي\n- برامج التدخل المبكر\n- علاج التوحد\n\nالرد على رسالة العميل: {{ $json.message }}\n\nكن مهذباً ومحترفاً وقدم معلومات مفيدة. إذا سأل عن موعد، اطلب منه رقم الهاتف أو اسمه.\n\nالرد بالعربية:"
      },
      "id": "ai-response",
      "name": "Generate AI Response",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [850, 200],
      "credentials": {
        "googlePalmApi": {
          "id": "loZTSuo6IMkCcOj3",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v18.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messaging_product",
              "value": "whatsapp"
            },
            {
              "name": "to",
              "value": "={{ $('Process Message').item.json.from }}"
            },
            {
              "name": "type",
              "value": "text"
            },
            {
              "name": "text",
              "value": "={\n  \"body\": \"{{ $json.response || $json.text }}\"\n}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "send-whatsapp",
      "name": "Send WhatsApp Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "whatsapp-auth",
          "name": "WhatsApp API Auth"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"ok\": true, \"message\": \"Processed\" } }}"
      },
      "id": "webhook-response",
      "name": "Respond to Next.js",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Receive from Next.js": {
      "main": [
        [
          {
            "node": "Process Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Message": {
      "main": [
        [
          {
            "node": "Has Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Message?": {
      "main": [
        [
          {
            "node": "Generate AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate AI Response": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Reply": {
      "main": [
        [
          {
            "node": "Respond to Next.js",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-27T12:00:00.000Z",
  "versionId": "1"
}

